/*
    Theme Name: Gym Fitness
    Theme URI: 
    Author: Juan Pablo De la torre Valdez
    Author URI: http://twitter.com/codigoconjuan
    Description: Theme Diseñado para el Gimnasio GymFitness
    Version: 1.0
    License: GNU General Public License v2 or later
    License URI: http://www.gnu.org/licenses/gpl-2.0.html
    Tags: Gym, gimnasio, flexbox, css grid, mobile first
    Text Domain: gymfitness
*/

:root {
    /** Fuentes **/
    --fuentePrincipal : 'Staatliches', cursive;
    --fuenteTexto : 'Open Sans', sans-serif;
    --fuenteSecundaria : 'Raleway', sans-serif;

    /** Colores **/
    --colorPrimario : #FF5B00;
    --grisOscuro : #2F2E2E;
    --grisClaro : #EBEBEB;
    --blanco : #ffffff;
    --negro : #000000;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 10px = 1rem! */
}
body {
    
    font-size: 1.6rem;
    
    font-family: var(--fuenteSecundaria);
    margin: 0;
}  
*, *:before, *:after {
    box-sizing: inherit;
}


/** Headings **/
h1, h2, h3, h4 {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    line-height: 1.2;
}

h1 {
    font-size: 6rem;
}
h2 {
    font-size: 4.8rem;
}
h3 {
    font-size: 3.6rem;
}
h4 {
    font-size: 2.4rem;
}

/** Globales **/
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;

}


.contenedor {
    width: 95%;
    margin: 0 auto;
}
hr {
    border: 2px solid var(--grisClaro);
}
.imagen-destacada {
    margin-bottom: 3rem;
}

.contenido-centrado {
    width: min(95%, 80rem);
}

/* BOTTONE */

.contenedor-boton {
    display: flex;
    justify-content: flex-end;
}

.form-submit .submit,
.boton {
    background-color: var(--grisClaro);
    color: var(--grisOscuro);
    padding: 1rem 3rem;
    display: block;
    flex: 1;
    width: 100%;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: .5rem;
    margin: 1rem 0;
    border: none;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto;
    }
}

.boton-primario {
    background-color: var(--colorPrimario);
    color: var(--grisClaro);
}

/** Utilidades **/
.text-center {
    text-align: center;
}
.text-primary {
    color: var(--colorPrimario);
}
.texto-blanco{
    color: var(--blanco);
}
.seccion {
    padding: 5rem 0;
}


/* HEADER */

body.home .header {
    padding-top: 2rem;
    height: auto;
    min-height: 70rem;
    background-size: cover;
    background-position: center center;

    
}

@media (min-width: 768px) {
    body.home .header {
        height: 200vh;
        max-height: 90rem;
    }

}

.tagline {
    margin-top: 5rem;
    color: var(--grisClaro);
}

@media (min-width: 768px) {
    .tagline {
        margin-top: 15rem; 
    }
}

.tagline p {
font-size: 2rem;
}

.header {
    background-color: var(--grisOscuro);
    padding: 2rem 0;
}

.barra-navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .barra-navegacion {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* MOVING LETTERS */

.ml2 {
    font-weight: 900;
    font-size: 3.5em;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }

/** Menu Principal **/



/* BARRA NAVEGACION */
@media(min-width: 992px) {
    .fixed-top {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background-color: var(--grisOscuro);
        padding: 1rem 5rem;
        height: 10rem;
        z-index: 1000;
        transition: background-color 300ms ease-in-out;
       
    }
    .fixed-top .logo {
        width: 12rem;
    }
   

}

.logo {
    width: 25rem;
    height: 15rem;
}

.hamburger:hover {
    cursor:pointer;
}

@media (min-width: 768px) {
    .hamburger{
        display: none;
    }
}

.contenedor-menu {
    opacity: 0;
    max-height: 0;
    transition-delay: 100ms, 300ms;
    transition-property: opacity, max-height;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
    
}

.mostrar {
    opacity: 1;
    max-height: 35rem;
    transition-delay: 100ms, 300ms;
    transition-property: max-height, opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}



@media ( min-width: 768px) {
    .contenedor-menu {
        all: unset;
    }
}



@media (min-width: 768px) {
    .menu-principal {
        display: block;
    }
    .menu-principal .menu {
        display: flex;
        justify-content: space-around;
    }
    .menu-principal li {
        margin-right: 2rem;
    }
    .menu-principal li:last-of-type{
        margin-right: 0;
    }
}

.menu-principal a {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 2.2rem;
    padding: .5rem 2rem;
    display: block;
    text-align: center;
  
    
}

@media (min-width: 768px) {
    .menu-principal a {
        font-size: 2.6rem;
        position: relative;
        z-index: 1;
    }

    .menu-principal .current_page_item {
        border-bottom: 3px solid var(--colorPrimario);
    }

    .menu-principal a::before, 
    .menu-principal a::after {
        position: absolute;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        height: 50%;
        background-color: var(--colorPrimario);
        z-index: -1;
        transform: scaleX(0);
        transition: transform .6s;
    }
    .menu-principal a::before {
        top: 0;
        transform-origin: left;
    }
    .menu-principal a::after {
        top:50%;
        transform-origin: right;
    }
    .menu-principal a:hover::before {
        transform: scaleX(1);
    }
    .menu-principal a:hover::after {
        transform: scaleX(1);
    }
}

/*FOOTER*/

.contenido-footer {
    justify-content: start;
    padding: 4rem 0;
}

@media (min-width:768px) {
    .contenido-footer {
        display: flex;
        justify-content: space-between;

    }
}

.footer .menu-principal a{
    color: var(--grisOscuro);
    text-align: center;
    font-size: 2.4rem;
    padding: 0 1rem;
}

.footer .menu-principal a::before, 
.footer .menu-principal a::after {
    display: none;
}



.copyright {
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: 1.8rem;
    margin: 2rem 0 0 0;
    color: var(--grisOscuro);
}

@media (min-width: 768px) {
    .copyright {
        font-size: 2.4rem;
        margin: 0;
    }
}

/* CARD */

.listado-grid {
    margin-top: 4rem;
    display: grid;
    gap: 2rem;
    

}

@media (min-width: 768px) {
    .listado-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.card {
    background-image: linear-gradient(to bottom, transparent 0, rgb(0 0 0/ .7));
    position: relative;
    overflow: hidden;

}

.card:hover img {
    transform: scale(1.1);
}



.card img {
    display: block;
    position: relative;
    z-index: -1;
    object-fit: cover;
    height: 40rem;
    transition: transform 300ms ease;
}


/* CATEGORIAS EN CARD */

.post-categories {

    position: absolute;
    top: 2rem;
    left: 2rem;
    display: flex;
    gap: 2rem;

}

.card .post-categories li {
    background-color: var(--colorPrimario);
    padding:  .5rem 1rem;
    border-radius: .5rem;
    
}

.card .post-categories a {
    color: var(--grisClaro);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;
}
.card .contenido {
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--grisClaro);
    margin-left: 1rem;
}

.card .contenido h3 {
    color: #EBEBEB;

}
.card .contenido p {
    color: #EBEBEB;

}

.card .meta {
    font-size: 1.4rem;
    font-weight: 700;
}

.card .meta span {
    color: var(--grisClaro);
}

.card .contenido .meta a {
    color: var(--grisClaro);
}


/* SIDEBAR */

@media (min-width:768px){
    .con-sidebar {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}

.informacion-lezioni {
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    color: var(--grisOscuro)
}

/* LISTADO LEZIONI SIDEBAR  */


.clases-sidebar li{
    border-bottom: 1px solid var(--grisOscuro);
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    align-items: center;
    margin: 1rem;
    height: 20rem;
  

}
 
.clases-sidebar li:last-of-type {
    border: none;
    

}

.clases-sidebar .contenido-clase h3 {
    margin: 0;
    font-size: 2.6rem;
    
}

.clases-sidebar .contenido-clase a{
    color: var(--colorPrimario);
    
}

.clases-sidebar .contenido-clase {
    font-size: 1.2rem;
    
}

/* GALERIA */

.galeria-imagenes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 300px);
    gap: 2rem;
}

@media (min-width: 768px) {
    .galeria-imagenes {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }
}



.galeria-imagenes li:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 4;

}

.galeria-imagenes li:nth-child(6) {
    grid-column: 1 / 2;
    grid-row: 4 / 6;

}

@media (min-width: 768px) {
    .galeria-imagenes li:nth-child(4) {
        grid-column: 4 / 5;
        grid-row: 1 / 3;

    }

    .galeria-imagenes li:nth-child(6) {
        grid-column: 2 / 3;
        grid-row: 2 / 4;

    }
} 

.galeria-imagenes li:nth-child(4) img,
.galeria-imagenes li:nth-child(6) img {
    height: 620px;
}

.galeria-imagenes img {
    height: 300px;
    width: 400px;
    object-fit: cover;
}

/* INFORMACION META */

.meta-info {
    background-color: var(--grisClaro);
    padding: 2rem;
   
}

.meta-info p, 
.meta-info a {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--grisOscuro);
}

.meta-info span {
    color: var(--colorPrimario);
}

@media (min-width: 768px) {
    .meta-info {
        display: flex;
        justify-content: space-between;
    }
}

.meta-info .categoria {
    display: flex;
    align-items: center;
    gap: .5rem;
}

/* FORMULARIO DI CONTATTO */
.wpcf7-form label {
    font-weight: 700;
    
}

.wpcf7-form {
    width: 50%;
    display: block;
    margin: auto;
}

.wpcf7-form .wpcf7-form-control {
    
    border: 1px solid var(--grisOscuro);
    padding: 1rem;
    

}


.wpcf7-form .wpcf7-submit {
    background-color: var(--colorPrimario);
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    border-radius: 2%;
    padding: 1.2rem;
    color: var(--grisClaro);
    margin: auto;
    display: block;
    width: 50%;
} 

.wpcf7-form .wpcf7-submit:hover {
    cursor: pointer;
}
.wpcf7-form .wpcf7-not-valid-tip{
    font-weight: bold;
    display: block;
    font-size: 1.4rem;
}
 .wpcf7-form .wpcf7-spinner {
    display: block;
    margin: 2rem auto 0 auto;
    background-color: var(--colorPrimario);
 }

.mapa {
    margin: 5rem 0 5rem 0;
}

/* PAGINA PRINCIPAL */

.benvenuti p {
    max-width: 80rem;
    margin: 3rem auto;
   
}

/* AREAS  */

.areas {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width:480px) {
    .areas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:768px) {
    .areas {
        display: grid;
        grid-template-columns: repeat(4, 1fr)    }
}

.area {
    height: 25rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area::after {
    content: "";
    background-image: linear-gradient(rgb(0 0 0 / .45), rgb(0 0 0 / .45));
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.area img{
    object-fit: cover;
    height: 25rem;
    width: 50rem;
}

@media (min-width: 768px) {
    .area,
    .area img {
        height: 30rem;
    }
}

.area p {
    position: absolute;
    color: var(--grisClaro);
    z-index: 100;
    font-weight: 900;

}

@media (min-width: 768px) {
    .area p {
        opacity: 0;
        transition: opacity .5s ease-out;
    } 
    .area:hover p {
        opacity: 1;
    }
}

/* API K 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 */

.instruttore {
    margin: 2rem 0;
    border-bottom: 1px solid var(--grisClaro);

}

@media (min-width: 992px) {
    .instruttore {
        position: relative;
}
}

.instruttore img {
    object-fit: cover;
    height: 420px;

}

.instruttore :last-of-type {
    border: none;
}

.instruttore .contenido {
    padding: 3rem;
}

@media (min-width: 992px) {
    .instruttore .contenido {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        color: var(--grisClaro);
        background-color: rgb(0 0 0 / .55);
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        transition: opacity .7s ease;
        transition-delay: .3s;
    }

    .instruttore:hover .contenido {
        opacity: 1;
    }
}

.instruttore h3 {
    margin-bottom: 2rem;
}

.tag {
    margin-top: 2rem;
}

.instruttore .tag {
    background-color: var(--colorPrimario);
    color: var(--grisClaro);
    text-transform: uppercase;
    font-family: var(--fuentePrincipal);
    margin: 5rem;
    font-size: 2.2rem;
    
    border-radius: .5rem;
    
}

.instruttore .tag:last-of-type {
    margin-right: 0;
}

.testimoniales {
    
    background: linear-gradient(
        rgb(0 0 0 / .75),
        rgb(0 0 0 / .75)
    ), url(img/testimonial-bg.jpg);
    background-size: cover;
    background-position: center center;
    padding: 12rem 0;
    
}

.contenedor-testimoniales {
    width: min(95%, 80rem);;
    margin: 0 auto;
}

.testimonial {
    color: var(--grisClaro);
}

.testimonial blockquote {
    position: relative;
    padding-left: 12rem;
}

.testimonial blockquote::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-image: url(img/quote.svg);
    background-repeat: no-repeat;
    width: 10rem;
    height: 9rem;
}

.testimonial-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

@media (min-width: 768px) {
    .testimonial-footer {
        justify-content: flex-end;
    }
}

.testimonial-footer img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.testimonial-footer p {
    font-weight: 700;
    color: var(--colorPrimario);

}


/* COMENTI */

.commenti {
    width: min(95%, 60rem);
    margin: 5rem auto 0 auto;
}

.comment-reply-title {
    color: var(--colorPrimario);
    text-align: center;
}

.logged-in-as a {
    color: var(--colorPrimario);
}

.comment-form-comment label {
    font-weight: 700;
    margin: 2rem 0;
    display: block;
}


.form-submit .submit {
    background-color: var(--colorPrimario);
    color: var(--grisClaro);
    
}

.comment-form-comment textarea,
.commenti input[type="text"] {
    border: 1px solid var(--grisClaro);
    width: 100%;
    padding: 1rem;

}


.commenti input[type="text"] {
    
    margin: 3rem 0;

}

h3 commenti {
    margin: 3rem 0;
}

.lista-commenti {
    background-color: var(--grisClaro);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
}

.lista-commenti cite {
    color: var(--colorPrimario);
    font-size: 2rem;
    font-weight: 700;
}

.lista-commenti .children .comment {
    background-color: var(--blanco);
    margin: 2rem 0;
} 

.pagination .screen-reader-text {
    visibility: hidden;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.nav-links a {
    font-size: 2rem;
    color: var(--colorPrimario);

}

.nav-links .current {
    font-size: 2rem;
    padding: .5rem;
}